
<div class="businessContentDetail" id="businessContentDetail" *ngIf="showDetailsSection" style="background-color: white;">
    <div class="busiDetail">
        <button (click)="goBack()">Back</button>
        <br>
        <div class="centerAlign">{{sectionData[0]['name']}}</div>
        <mat-tab-group (selectedTabChange)="showTabSection()">
            <mat-tab label="Business Details" > 
                <div class="row">
                    <div class="col-sm-6 p-3 centerAlign" *ngFor="let data of displayData">
                        <h3>{{data.title}}</h3>
                        <div>{{data.value}}</div>
                    </div>
                    <div class="col-sm-6 p-3 centerAlign">
                        <h3>Visit yelp for more</h3>
                        <div>
                            <a href="{{sectionData[0]['more_info']}}" target="_blank">Business Link</a>
                        </div>
                    </div>

                    <div class="col-sm-12" *ngIf="showSubmitRes">
                      <button type="button" class="btn btn-danger"
                      data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Reserve Now
                      </button>
                    </div>
                    <div class="col-sm-12" *ngIf="!showSubmitRes">
                      <button class="btn btn-primary" type="button" (click)="cancelReserv()"
                       style="margin: 0 auto;">Cancel Reservation</button>
                    </div>

                    <div class="col-sm-12" *ngIf="sectionData[0]['photos'].length>=1">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            <div *ngIf="sectionData[0]['photos'].length==1; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>
                                <div class="carousel-item active">
                                  <img src="{{sectionData[0]['photos'][0]}}" class="d-block w-50" style="margin: 0 auto;" alt="...">
                                </div>
                            </ng-template>

                            <ng-template #elseBlock>
                              <!-- <div class="carousel-item active" *ngFor="let photo of sectionData[0]['photos']">
                                <img src="{{photo}}" class="d-block w-100 h-100" alt="...">
                              </div> -->
                              <div class="carousel-item active">
                                <img src="{{sectionData[0]['photos'][0]}}" class="d-block w-50" style="margin: 0 auto;" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="{{sectionData[0]['photos'][1]}}" class="d-block w-50" style="margin: 0 auto;" alt="...">
                              </div>
                              <div class="carousel-item" *ngIf="sectionData[0]['photos'].length>=3">
                                <img src="{{sectionData[0]['photos'][2]}}" class="d-block w-50" style="margin: 0 auto;" alt="...">
                              </div>
                            </ng-template>
                              <!-- <div class="carousel-item active">
                                <img src="..." class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                              </div> -->
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                    <div class="col-sm-12" *ngIf="sectionData[0]['photos'].length==0">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="" class="d-block w-100" alt="No Photo">
                              </div>
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="No Photo">
                              </div>
                              <div class="carousel-item">
                                <img src="" class="d-block w-100" alt="No Photo">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Map Location">
              <div class="row pt-3 pb-3">
                <div class="col-sm-12">
                  <google-map [options]="mapOptions">
                    <map-marker [position]="marker.position"></map-marker>
                  </google-map>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Reviews">
              <div class="row">
                <div class="col-sm-12" *ngFor="let data of displayDataReviews[0]">
                  <span><b>{{data['name']}}</b></span>
                  <br>
                  <span>{{data['rating']}}</span>
                  <br><br>
                  <span>{{data['text']}}</span>
                  <br><br>
                  <span>{{data['time_created']}}</span>
                </div>
              </div>
            </mat-tab>
        </mat-tab-group>
          

    </div>
</div>



<!-- Modal -->
<div *ngIf="showDetailsSection" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservation Form</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>

      <div class="modal-body">
        <div class="centerAlign">{{sectionData[0]['name']}}</div>
        <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
          <div class="form-group row">
            <div class="col-sm-12">
              <label>Email</label>
              <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" 
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && email.invalid">
                <p *ngIf="email.errors">Email is required</p>
              </div>
            </div>

            <div class="col-sm-12">
              <label>Date</label>
              <input type="date" name="resDate" class="form-control" [(ngModel)]="model.resDate" #resDate="ngModel"
                placeholder="mm/dd/yyyy" 
                [min]="todayDate"
                [ngClass]="{ 'is-invalid': userForm.submitted && resDate.invalid }" required>
              <div class="invalid-feedback" *ngIf="userForm.submitted && resDate.invalid">
                <p *ngIf="resDate.errors">Date is required</p>
              </div>
            </div>

            <label>Time</label>
            <div class="col-sm-3">
              <select class="form-select"
              [(ngModel)]="model.hrs" #hrs="ngModel" name="hrs" class="form-control"
              [ngClass]="{ 'is-invalid': userForm.submitted && hrs.invalid }"
              required>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
              </select>
            </div>
            :
            <div class="col-sm-3">
              <select class="form-select"
              [(ngModel)]="model.min" #min="ngModel" name="min" class="form-control"
              [ngClass]="{ 'is-invalid': userForm.submitted && min.invalid }"
              required>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
            </div>

            <div class="col-sm-12 mt-3">
              <button class="btn btn-danger" type="submit" style="margin: 0 auto;">Submit form</button>
            </div>
            
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
