<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <form class="row g-3 p-2 searchBox" [formGroup]="searchForm" (submit)="validateForm()">
                <div class="centerAlign">
                    <h2>Business Search</h2>
                </div>
                <div class="col-12">
                    <label for="keyword" class="form-label">Keyword<span class="star"> *</span></label>
                    <input type="text" class="form-control" formControlName="keyword" required>
                </div>
                <div class="col-md-6">
                    <label for="distance" class="form-label">Distance (miles)</label>
                    <input type="email" class="form-control" formControlName="distance" placeholder="10">
                </div>
                <div class="col-md-6">
                    <label for="category" class="form-label">Category<span class="star"> *</span></label>
                    <select class="form-select" formControlName="category" required>
                        <option value="All">Default</option>
                        <option value="arts">Arts & Entertainment</option>
                        <option value="health">Health & Medical</option>
                        <option value="hotelstravel">Hotels & Travel</option>
                        <option value="food">Food</option>
                        <option value="professional">Professional Services</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="location" class="form-label">Location<span class="star"> *</span></label>
                    <input type="text" class="form-control" formControlName="location" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">SUBMIT</button>
                    <button type="reset" class="btn btn-primary">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
