.searchBox {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
}
.nav-item a{
    color: black;
}

.nav li>a {
    background-color: white;
}

.nav li>a.active {
    background-color: lightblue;
}
/* 
.active {
    background-color: lightblue;
} */
